/*----------------------------------------------------------------*\

	GREAT ANIMATION RESOURCES
	resource: daneden.github.io/animate.css/
	resource: ianlunn.github.io/Hover/

\*----------------------------------------------------------------*/

@keyframes ripple {
	0% {
		opacity: .75;
	}

	100% {
		border-radius: 2em;
		opacity: 0;
		transform: scale(2.5);
	}
}