/*----------------------------------------------------------------*\
	BUTTONS
\*----------------------------------------------------------------*/
button,
.button {
	display: table;
	margin: 12px 0 0 0;
	padding: var(--Small) var(--Medium);
	border: none;
	color: var(--Black);
	font-weight: 800;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	background-color: var(--White);
	transition: all 0.35s linear;

	&:hover,
	&:focus {
		background-color: var(--Grey);
	}

	@media(--phone) {
		display: inline-block;

		&+.button {
			margin: 0 0 0 12px;
		}
	}

	& svg,
	& img {
		height: 19px;
		width: 19px;
		fill: var(--Black);
		vertical-align: sub;
		transition: all 0.35s linear;

		&:first-child {
			margin-right: var(--xSmall);
		}

		&:last-child {
			margin-left: var(--xSmall);
		}
	}

	&.is-yellow {
		color: var(--Black);
		background-color: var(--Yellow);

		& svg {
			fill: var(--Black);
		}

		&:hover,
		&:focus {
			background-color: var(--YellowDark);
		}
	}

	&.is-blue {
		color: var(--White);
		background-color: var(--Blue);

		& svg {
			fill: var(--White);
		}

		&:hover,
		&:focus {
			background-color: var(--BlueDark);
		}
	}

	&.is-purple {
		color: var(--White);
		background-color: var(--Purple);

		& svg {
			fill: var(--White);
		}

		&:hover,
		&:focus {
			background-color: var(--PurpleDark);
		}
	}

	&.is-red {
		color: var(--White);
		background-color: var(--Red);

		& svg {
			fill: var(--White);
		}

		&:hover,
		&:focus {
			background-color: var(--RedDark);
		}
	}

	&.is-transparent {
		color: var(--White);
		text-decoration: underline;
		background-color: transparent;
		font-family: Barlow, sans-serif;
		padding: var(--Small) 0;

		& svg {
			fill: var(--White);
		}

		&:hover,
		&:focus {
			text-decoration: none;
			background-color: var(--GreyDark);
		}

		@media(--phone) {
			padding: var(--Small) var(--Medium);
		}
	}
}