/*----------------------------------------------------------------*\
	FORMS
\*----------------------------------------------------------------*/


/*---------------------------------------*\
  FORM STRUCTURE
\*---------------------------------------*/
.gform_wrapper {
	margin: 64px auto;
}

form {
	max-width: 720px;
	margin: 0 auto;

	& ul.gform_fields {
		position: relative;
		margin: 0;
		padding: 0;
		list-style: none;

		&>li {
			display: block;
			position: relative;
			margin: var(--Medium) 0;
			padding: 0;
			line-height: 1.5;
			background-image: none;

			&::before {
				display: none;
			}
		}
	}
}

.gform_footer button {
	margin: 24px 0 0 0;
}

/*---------------------------------------*\ 
	HIDDEN FIELDS
\*---------------------------------------*/
.gform_validation_container,
.gfield_visibility_hidden {
	display: none !important;
}

/*---------------------------------------*\ 
	FORM PAGINATION
\*---------------------------------------*/
.gf_page_steps {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 0 32px 0;
	padding: 0 0 16px 0;
	border-bottom: 2px solid var(--White);

	& .gf_step {
		padding: 0 8px;
	}

	& .gf_step_number {
		color: var(--GreyDark);
		font-weight: bold;
		font-size: 16px;
	}

	& .gf_step_label {
		color: var(--GreyDark);
		font-weight: 500;
		font-size: 16px;
	}

	& .gf_step_active .gf_step_number,
	& .gf_step_active .gf_step_label {
		color: var(--White);
	}

	& .gf_step_clear {
		display: none;
	}
}

.gform_page_footer {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 48px auto 0 auto;

	& input {
		display: inline-block;
		width: auto;
		margin: 0;
		padding: var(--Small) var(--Medium);
		border: none;
		color: var(--Black);
		font-weight: 800;
		font-size: 16px;
		font-family: 'Montserrat', sans-serif;
		text-decoration: none;
		text-transform: uppercase;
		cursor: pointer;
		background-color: var(--GreyLight);
		transition: all 0.35s linear;

		&:hover,
		&:focus {
			background-color: var(--Grey);
		}

		&.gform_next_button {
			background-color: var(--Yellow);

			&:hover,
			&:focus {
				background-color: var(--YellowDark);
			}
		}
	}
}

/*---------------------------------------*\
    SECTION TITLES
\*---------------------------------------*/
.gsection_title {
	margin: 64px 0 0 0;
	padding: 0;
	font-size: 24px;

	&::before {
		content: "";
		display: block;
		max-width: 200px;
		height: 24px;
		margin: 0 0 var(--Medium) 0;
		border: 0;
		background-color: transparent;
		background-image: url('../images/horizontal-rule.svg');
		background-repeat: no-repeat;
		background-position: center left;
		background-size: contain;
	}

	&+.gsection_description {
		padding: 8px 64px 0 0;
		font-size: 14px;
		line-height: 1.3;
	}
}

form ul>li:first-child .gsection_title {
	margin-top: 0;
}

/*---------------------------------------*\
  LABELS & Descriptions
\*---------------------------------------*/
form label {
	display: inline-block;
	margin-bottom: var(--xSmall);
	color: var(--GreyLight);
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 0.5px;

	& span.gfield_required {
		display: none;
	}
}

.hidden_label>label {
	display: none;
}

ul.gform_fields>li:not(.gfield_contains_required):not(.gfield_price)>label:not(.file-upload-label) {
	&::after {
		display: inline-block;
		margin-left: 0.35em;
		color: var(--White);
		font-size: 0.875em;
		content: '(optional)';
	}
}

::placeholder {
	color: var(--White);
}

.gfield_description,
.ginput_counter,
.screen-reader-text,
.ginput_container .instruction {
	padding: 8px 0 0 8px;
	color: var(--Grey);
	font-weight: 400;
	font-size: 12px;
	line-height: 1;
	letter-spacing: 0.5px;
}

.field_description_above .gfield_description {
	color: var(--Grey);
}

label+.gfield_description {
	margin: 0 0 16px 0;
	padding: 0;
	font-size: 14px;
	line-height: 1.3;
}

/*---------------------------------------*\
  VALIDATION MESSAGES
\*---------------------------------------*/
li.gfield_error {
	& label {
		color: #fa2f48;
	}

	& input,
	& textarea,
	& select {
		border-color: #fa2f48;
	}

	& .validation_message {
		color: #fa2f48;
	}

	& .ginput_container {
		position: relative;

		&::after {
			display: block;
			z-index: 4;
			position: absolute;
			top: 12px;
			right: 16px;
			width: 24px;
			height: 24px;
			content: '';
			background-image: url('../images/input_error.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
		}
	}
}

.validation_message {
	padding: 8px 0 0 8px;
	color: #fa2f48;
	font-size: 12px;
	line-height: 1;
	letter-spacing: 0.5px;

	& ul li {
		padding: 0;
		color: #fa2f48;
		line-height: 1;
		background-image: none;
	}
}

/*---------------------------------------*\
  INPUT
\*---------------------------------------*/
input {
	width: 100%;
	padding: 0.75em;
	border: 2px solid var(--White);
	color: var(--White);
	background-color: rgba(255, 255, 255, 0.1);

	&:focus {
		background-color: rgba(255, 255, 255, 0.3);
	}
}

/*---------------------------------------*\
  TEXTAREA
\*---------------------------------------*/
textarea {
	width: 100%;
	padding: 0.75em;
	border: 2px solid var(--White);
	color: var(--White);
	background-color: rgba(255, 255, 255, 0.1);

	&:focus {
		background-color: rgba(255, 255, 255, 0.3);
	}

	&.small {
		max-height: 100px;
	}

	&.medium {
		max-height: 150px;
	}

	&.large {
		max-height: 200px;
	}
}

/*---------------------------------------*\
  SELECT
\*---------------------------------------*/
select {
	width: 100%;
	padding: 0.75em;
	border: 2px solid var(--White);
	color: var(--White);
	color: var(--White);
	background-color: rgba(255, 255, 255, 0.1);
	background-image: url('../images/select_arrow.svg');
	background-repeat: no-repeat;
	background-position: top 8px right 8px;
	background-size: 32px;

	-webkit-appearance: none;
	-moz-appearance: none;

	&:focus {
		background-color: rgba(255, 255, 255, 0.3);
	}

	& option {
		background-color: var(--Black) !important;
	}

	&.has-placeholder {
		color: var(--White);
	}
}

li.gfield_error .ginput_container_select::after {
	right: 48px;
}

/*---------------------------------------*\
  RADIO
\*---------------------------------------*/
ul.gfield_radio {
	margin: var(--Small) 0 0 0;
	padding: 0;

	& li {
		display: flex;
		align-items: flex-start;
		width: auto;
		margin: 0 var(--Medium) var(--Medium) 0;
		padding: 0;
		line-height: 1;
		background-image: none;

		&::before {
			display: none;
		}

		& label {
			margin: 0;
			padding-top: 2px;
			font-weight: 500;
			font-size: 16px;
			line-height: 1.4;
			vertical-align: middle;
			letter-spacing: 0.5px;
			cursor: pointer;
			position: relative;

			&::before {
				display: block;
				opacity: 0;
				z-index: 3;
				position: absolute;
				top: 6px;
				left: -40.5px;
				color: var(--White);
				font-weight: 800;
				font-size: 47px;
				line-height: 0;
				content: "•";
			}
		}

		& input[type="radio"] {
			flex-shrink: 0;
			width: 24px;
			height: 24px;
			margin-right: var(--Medium);
			border: 2px solid var(--White);
			border-radius: 50%;
			background-color: rgba(255, 255, 255, 0.1);

			-webkit-appearance: none;

			&:checked {
				border-color: var(--Blue);
				background-color: var(--Blue);

				&+label::before {
					opacity: 1;
				}
			}
		}

		& input[type="text"] {
			padding: 4px;
			border: 1.5px solid var(--Black);
			border-radius: 4px;
			color: var(--Black);
			font-weight: 500;
			font-size: 14px;
			line-height: 1;
			background-color: rgba(255, 255, 255, 0.1);
			box-shadow: none;

			&:focus {
				background-color: rgba(255, 255, 255, 0.3);
			}
		}
	}
}

.two-column ul.gfield_radio {
	column-count: 2;

	@media(--phone) {
		column-count: 1;
	}

	& li {
		width: 100%;
	}
}

.three-column ul.gfield_radio {
	column-count: 3;

	@media(--phone) {
		column-count: 1;
	}

	& li {
		width: 100%;
	}
}

.ginput_container_radio+.gfield_description {
	padding-left: 0;
}

/*---------------------------------------*\
  CHECKBOXES
\*---------------------------------------*/
ul.gfield_checkbox {
	margin: var(--Small) 0 0 0;
	padding: 0;

	& li {
		display: flex;
		align-items: flex-start;
		width: auto;
		margin: 0 var(--Medium) var(--Medium) 0;
		padding: 0;
		line-height: 1;
		background-image: none;

		&::before {
			display: none;
		}

		& label {
			position: relative;
			margin: 0;
			padding-top: 2px;
			font-weight: 500;
			font-size: 16px;
			line-height: 1.4;
			vertical-align: middle;
			letter-spacing: 0.5px;
			cursor: pointer;

			&::before {
				display: block;
				opacity: 0;
				z-index: 3;
				position: absolute;
				top: -3px;
				left: -41px;
				color: var(--White);
				font-weight: 800;
				font-size: 20px;
				content: "✓";
			}
		}

		& input[type="checkbox"] {
			flex-shrink: 0;
			width: 24px;
			height: 24px;
			margin-right: var(--Medium);
			border: 2px solid var(--White);
			background-color: rgba(255, 255, 255, 0.1);

			-webkit-appearance: none;

			&:checked {
				border-color: var(--Blue);
				background-color: var(--Blue);

				&+label::before {
					opacity: 1;
				}
			}
		}

		& input[type="text"] {
			padding: 4px;
			border: 1.5px solid var(--Black);
			border-radius: 4px;
			color: var(--Black);
			font-weight: 500;
			font-size: 14px;
			line-height: 1;
			box-shadow: none;
			background-color: rgba(255, 255, 255, 0.1);

			&:focus {
				background-color: rgba(255, 255, 255, 0.3);
			}
		}
	}
}

.two-column ul.gfield_checkbox {
	column-count: 2;

	@media(--phone) {
		column-count: 1;
	}

	& li {
		width: 100%;
	}
}

.three-column ul.gfield_checkbox {
	column-count: 3;

	@media(--phone) {
		column-count: 1;
	}

	& li {
		width: 100%;
	}
}

/*---------------------------------------*\ 
	SMART FIELDS
\*---------------------------------------*/
.ginput_complex,
.clear-multi {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;

	& .name_first,
	& .name_middle,
	& .name_last {
		width: 100%;

		@media(--phone) {
			width: 31%;
		}
	}

	&.no_middle_name .name_first,
	&.no_middle_name .name_last {
		width: 100%;

		@media(--phone) {
			width: 48%;
		}
	}

	&.no_middle_name.has_prefix .name_prefix {
		width: 130px;
	}

	&.no_middle_name.has_prefix .name_first,
	&.no_middle_name.has_prefix .name_last {
		width: 100%;

		@media(--phone) {
			width: calc(48% - 65px);
		}
	}

	& .address_line_1,
	& .address_line_2 {
		width: 100%;

		& label:last-child {
			margin: 6px 0 12px 0;
		}
	}

	& .address_city,
	& .address_state,
	& .address_zip {
		width: 100%;

		@media(--phone) {
			width: 31%;
		}
	}

	& .gfield_time_hour,
	& .gfield_time_minute,
	& .gfield_time_ampm {
		width: 100%;

		@media(--phone) {
			width: 31%;
		}
	}

	& span label:last-child,
	& label {
		display: block;
		margin: 6px 0 12px 0;
		padding: 0 0 0 8px;
		font-weight: 400;
		font-size: 12px;
		line-height: 1;
		letter-spacing: 0.5px;
	}

	& span label:last-child {
		margin-bottom: 0;
	}

	& i {
		display: none;
	}
}

/*---------------------------------------*\ 
	FILE UPLOAD 
\*---------------------------------------*/

.gform_drop_area {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100px;
	margin: 0;
	border: 2px dashed var(--GreyDark);
	border-radius: 4px;

	& input {
		display: inline-block;
		width: auto;
		margin: 0 0 0 16px;
		padding: var(--Small) var(--Medium);
		color: var(--White);
		font-size: 14px;
		text-transform: none;
		text-transform: uppercase;
		letter-spacing: 1px;
		background-color: var(--Blue);
		box-shadow: none;

		&:hover,
		&:focus {
			color: var(--White);
			background-color: var(--Black);
		}
	}
}

.ginput_preview {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0;
	font-size: 12px;
	line-height: 1;
	letter-spacing: 0.5px;

	& strong {
		font-weight: 500;
	}

	& img {
		margin-right: 6px;
		vertical-align: middle;
		cursor: pointer;
	}
}

.gform_fileupload_multifile+span.screen-reader-text {
	position: relative !important;
	padding: 0;
	clip: auto;
	overflow: visible;

	&+.validation_message ul {
		margin: 0;
	}
}

/*---------------------------------------*\
  DATE
\*---------------------------------------*/
.ui-datepicker {
	padding: 8px;
	border: 2px solid var(--Black);
	background-color: var(--Black);

	& .ui-datepicker-header {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;

		&>a {
			margin: 0 0 8px 0;
			color: var(--GreyLight);
			font-size: 12px;
		}

		& .ui-datepicker-title {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			margin-bottom: 8px;

			& select {
				width: 48%;
				padding: 8px 4px;
				border: 1px solid var(--Grey);
				color: var(--Grey);
				font-size: 14px;
				background-position: center right;
				background-size: 20px 20px;
			}
		}
	}

	& .ui-datepicker-calendar {
		width: 100%;
		margin: 0;
		border: 1px solid var(--Grey);
		border-collapse: collapse;
		background: var(--Black);

		& th,
		& td {
			border: 1px solid var(--Grey);
		}

		& thead span {
			font-weight: 500;
		}

		& td {
			text-align: center;

			& a {
				display: block;
				margin: 0;
				padding: 6px 4px;
				color: var(--Grey);
				line-height: 1;
				text-decoration: none;

				&:hover,
				&:focus,
				&.ui-state-active {
					color: var(--Yellow);
				}
			}
		}
	}
}

.ginput_container_date img.ui-datepicker-trigger {
	position: absolute;
	top: 8px;
	right: 8px;
}

/*---------------------------------------*\
  CONSENT
\*---------------------------------------*/
.field_description_above {
	& .gfield_consent_description {
		color: var(--White);
		font-size: 14px;

		& a:not(.button) {
			color: var(--Yellow);
			text-decoration: underline;

			&:hover,
			&:focus {
				color: var(--YellowDark);
				text-decoration-color: var(--White);
			}
		}
	}

	& .ginput_container_consent {
		margin-top: 0;
	}
}

.ginput_container_consent {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 48px;

	& input {
		flex-shrink: 0;
		width: 24px;
		height: 24px;
		margin-right: var(--Medium);
		border: 2px solid var(--White);
		background-color: rgba(255, 255, 255, 0.1);

		-webkit-appearance: none;

		&:checked {
			border-color: var(--Blue);
			background-color: var(--Blue);

			&+label::before {
				opacity: 1;
			}
		}
	}

	& label {
		position: relative;
		margin: 0;
		padding-top: 2px;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.4;
		vertical-align: middle;
		letter-spacing: 0.5px;
		cursor: pointer;

		&::before {
			display: block;
			opacity: 0;
			z-index: 3;
			position: absolute;
			top: -3px;
			left: -41px;
			color: var(--White);
			font-weight: 800;
			font-size: 20px;
			content: "✓";
		}

		&+.gfield_required {
			display: none;
		}

		& a:not(.button) {
			color: var(--Yellow);
			text-decoration: underline;

			&:hover,
			&:focus {
				color: var(--YellowDark);
				text-decoration-color: var(--White);
			}
		}
	}

	&+.gfield_consent_description {
		padding: 8px 0 0 24px;
	}
}

/*---------------------------------------*\
  reCaptcha
\*---------------------------------------*/
.grecaptcha-badge {
	z-index: 1000;
}