/*-----------------------------------*\
	LISTS
\*-----------------------------------*/
ul,
ol {
	margin: var(--Inbetween) auto;
	padding: 0 0 0 var(--Small);
	list-style: none;

	& li {
		margin: 0 0 var(--Small) 0;
		list-style: none;
	}
}

/*-----------------------------------*\
	BULLETS
\*-----------------------------------*/
ul li {
	position: relative;
	padding-left: 24px;

	&::before {
		display: inline-block;
		position: absolute;
		top: 13px;
		left: 0;
		width: 11px;
		height: 11px;
		margin-right: var(--Small);
		border: 4px solid var(--Yellow);
		border-radius: 50%;
		content: '';
		background-color: transparent;
		flex-shrink: 0;
	}
}

/*-----------------------------------*\
	NUMBERS
\*-----------------------------------*/
ol {
	counter-reset: li;

	& li {
		margin: 0 0 var(--Small) 0;
		counter-increment: li;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;

		&::before {
			min-width: 28px;
			color: var(--Yellow);
			font-weight: 800;
			font-size: 14px;
			font-family: 'Montserrat', sans-serif;
			content: counter(li) ". ";
			position: relative;
			top: 3px;
		}
	}
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
ul {
	&.has-2-columns {
		column-count: 1;

		@media(--phone) {
			column-count: 2;

			& li {
				padding-right: var(--Medium);
			}
		}
	}

	&.has-3-columns {
		column-count: 1;

		@media(--phone) {
			max-width: 1024px;
			column-count: 3;

			& li {
				padding-right: var(--Medium);
			}
		}
	}

	&.has-4-columns {
		column-count: 1;

		@media(--phone) {
			column-count: 2;

			& li {
				padding-right: var(--Medium);
			}
		}

		@media(--tablet) {
			column-count: 4;
		}
	}
}