.modal {
	display: none;
	position: relative;
	z-index: 9999999999;
}

.modal.is-open {
	display: block;
}

.modal__overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal__container {
	background-color: #32344E;
	padding: 30px;
	width: 640px;
	max-width: 85vw;
	max-height: 85vh;
	border-radius: 8px;
	overflow-y: auto;
	box-sizing: border-box;

	&::-webkit-scrollbar-track {
		background-color: rgba(29, 30, 45, 0);
	}

	&::-webkit-scrollbar {
		width: 10px;
		background-color: rgba(29, 30, 45, 0);
	}

	&::-webkit-scrollbar-thumb {
		background-color: rgba(29, 30, 45, .6);
		border-radius: 100px;
	}
}

.modal__header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	padding-right: 64px;
	margin-top: 8px;
	margin-bottom: 32px;

	& h2 {
		margin: 0;
		font-size: 24px;
		line-height: 32px;
	}
}

.actions {
	position: absolute;
	top: 28px;
	right: 28px;

	& button {
		width: 32px;
		height: 32px;
		padding: 0;
		margin: 0;
		border-radius: 4px;
		background-color: rgba(29, 30, 45, .4);
		border: 1.5px solid rgba(29, 30, 45, .4);
		position: relative;
		flex-shrink: 0;

		&::before {
			color: #fff;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
		}

		&:hover,
		&:focus {
			background-color: rgba(29, 30, 45, 1);
			border: 1.5px solid #000;
			outline: 0;
			box-shadow: none;
		}
	}

	& .modal__close {
		&::before {
			content: "\2715";
			font-size: 11px;
		}
	}

	& .modal__prev {
		&::before {
			content: "\2190";
			font-size: 18px;
		}
	}

	& .modal__next {
		&::before {
			content: "\2192";
			font-size: 18px;
		}
	}
}

.modal__content {
	& img {
		margin: 0 auto;
		display: block;
		max-width: 100%;
	}

	& p {
		font-size: 18px;
		line-height: 1.7em;

		& strong {
			font-size: 20px;
		}
	}
}



/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes mmfadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes mmslideIn {
	from {
		transform: translateY(15%);
	}

	to {
		transform: translateY(0);
	}
}

@keyframes mmslideOut {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(-10%);
	}
}

.micromodal-slide {
	display: none;
}

.micromodal-slide.is-open {
	display: block;
}

/* .micromodal-slide[aria-hidden="false"] .modal__overlay {
	animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
} */

.micromodal-slide[aria-hidden="false"] .modal__container {
	animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

/* .micromodal-slide[aria-hidden="true"] .modal__overlay {
	animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
} */

.micromodal-slide[aria-hidden="true"] .modal__container {
	animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
	will-change: transform;
}