/*-----------------------------------*\
	FONT FAMILIES
\*-----------------------------------*/
/* added via functions */
/*-----------------------------------*\
	HEADER
\*-----------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 1.618em;
	margin-bottom: 0.75em;
	font-weight: 800;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

h1 {
	font-size: 42px;
	line-height: 1;

	@media(--tablet) {
		font-size: 80px;

		&.is-long {
			font-size: 64px;
		}
	}
}

h2 {
	font-size: 40px;
	line-height: 1.2;

	@media(--tablet) {
		font-size: 48px;
	}
}

h3 {
	font-size: 28px;
	line-height: 1;

	@media(--tablet) {
		font-size: 36px;
	}
}

h4 {
	font-size: 24px;
	line-height: 1;
}

h5,
h6 {
	font-weight: 600;
	font-size: 20px;
	line-height: 1;
	font-family: 'Barlow', sans-serif;
}

/*-----------------------------------*\
	PARAGRAPH
\*-----------------------------------*/
p,
li {

	& b,
	& strong {
		font-weight: 600;
	}

	& a:not(.button) {
		color: var(--Yellow);
		text-decoration: underline;

		&:hover,
		&:focus {
			color: var(--YellowDark);
			text-decoration-color: var(--White);
		}
	}
}

/*-----------------------------------*\
	HORIZONTAL RULE
\*-----------------------------------*/
main>article>section:first-child>hr:first-child {
	margin-top: 0;
}

hr {
	max-width: 300px;
	height: 24px;
	margin: var(--xLarge) auto;
	border: 0;
	background-color: transparent;
	background-image: url('../images/horizontal-rule.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	&.is-blue {
		background-color: var(--Blue);
		background-image: none;
		height: 2px;
		margin: var(--Medium) 0;
	}

	&.is-yellow {
		background-color: var(--Yellow);
		background-image: none;
		height: 2px;
		margin: var(--Medium) 0;
	}

	&.is-purple {
		background-color: var(--Purple);
		background-image: none;
		height: 2px;
		margin: var(--Medium) 0;
	}

	&.is-red {
		background-color: var(--Red);
		background-image: none;
		height: 2px;
		margin: var(--Medium) 0;
	}
}

/*-----------------------------------*\
	TABLE
\*-----------------------------------*/
table {
	margin: var(--Large) auto;
}

/*-----------------------------------*\
	QUOTE
\*-----------------------------------*/
blockquote {
	max-width: 800px;
	margin: var(--Large) 0;
	padding: 0 0 0 var(--Large);
	border-left: 2px solid var(--Yellow);
	font-size: 24px;
	line-height: 1.4;

	&>*:first-child {
		margin-top: 0;
	}

	&>*:last-child {
		margin-bottom: 0;
	}

	& p {
		font-style: italic;
	}

	& p:last-child:not(:first-child) {
		margin-top: var(--Inbetween);
		font-style: normal;
		font-size: 18px;

		& img {
			display: inline-block;
			width: 56px;
			height: 56px;
			margin-right: var(--Medium);
			vertical-align: middle;
			object-fit: cover;
			object-position: center;
		}
	}
}

/*-----------------------------------*\
	WP ALIGNMENT
\*-----------------------------------*/
.alignright {
	text-align: right;
}

.alignleft {
	text-align: left;
}

.aligncenter {
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
}

img.alignright {
	display: block;
	float: right;
}

img.alignleft {
	display: block;
	float: left;
}

img.aligncenter {
	display: block;
	margin: 1em auto;
}