section.stats {
	margin: 0;
	background-color: var(--Black);
	border-top: 4px solid transparent;
	padding: var(--Large) 0;

	&.is-blue {
		border-color: var(--Blue);
	}

	&.is-purple {
		border-color: var(--Purple);
	}

	&.is-yellow {
		border-color: var(--Yellow);
	}

	&.is-red {
		border-color: var(--Red);
	}

	& .stat-grid {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: var(--Large);

		@media(--phone) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media(--tablet) {
			grid-template-columns: repeat(3, 1fr);
		}

		& .stat {
			& p {
				margin: 0;
			}
		}
	}
}