/*-----------------------------------*\
	POST HEADER
\*-----------------------------------*/
header.post-head {
	overflow: hidden;

	&>div {
		z-index: 2;
		position: relative;
		width: 90%;
		margin: 0 auto;
		padding: var(--xLarge) 0;

		&>*:first-child {
			margin-top: 0;
		}

		&>*:last-child {
			margin-bottom: 0;
		}

		& h1 {
			max-width: 640px;
			width: 100%;
			margin: 0;
		}

		& p:not(.preheadline) {
			max-width: 640px;
			width: 100%;
		}

		& .preheadline {
			display: inline-block;
			padding: var(--xSmall) var(--Small);
			font-weight: 600;
			font-size: 16px;

			&.is-yellow {
				color: var(--Black);
				background-color: var(--Yellow);
			}

			&.is-blue {
				color: var(--White);
				background-color: var(--Blue);
			}

			&.is-purple {
				color: var(--White);
				background-color: var(--Purple);
			}

			&.is-red {
				color: var(--White);
				background-color: var(--Red);
			}

			&.is-green {
				color: var(--Black);
				background-color: var(--Green);
			}

			&.is-transparent {
				margin-bottom: 0;
				padding: var(--xSmall) var(--Small) var(--xSmall) 0;
				color: var(--White);
				font-weight: 400;
				font-size: 24px;
				background-color: transparent;
			}
		}

		& .subheadline {
			margin: 0;
			color: var(--Yellow);
			font-size: 24px;
		}
	}

	&.has-nothing {
		padding: 32px 0 0 0;
		background-color: transparent;
		background-image: url('../images/horizontal-rule.svg');
		background-repeat: repeat-x;
		background-position: center top;
		background-size: auto 56px;

		&+main>article {
			margin-top: 0;
		}
	}

	&.has-nothing-narrow {
		padding: 32px 0 0 0;
		background-color: transparent;
		background-image: url('../images/horizontal-rule.svg');
		background-repeat: repeat-x;
		background-position: center top;
		background-size: auto 56px;

		&>div {
			max-width: 720px;
			padding: var(--xLarge) 0 0 0;
		}
	}

	&.has-gradient {
		&.y-to-o {
			background: var(--GradientYO);
		}

		&.r-to-p {
			background: var(--GradientRP);
		}

		&.p-to-b {
			background: var(--GradientPB);
		}

		&.b-to-r {
			background: var(--GradientBR);
		}

		& .subheadline {
			color: var(--White);
			font-weight: 700;
		}
	}

	&.has-background-image {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		min-height: 60vh;
		position: relative;

		@media(--phone) {
			min-height: 40vh;
		}

		@media(--tablet) {
			min-height: 60vh;
		}

		&::before {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			content: '';
			background: rgba(15, 15, 15, 0.65);

			@media(--tablet) {
				width: calc(50% - 800px);
				background: rgba(15, 15, 15, 1);
			}
		}

		&::after {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			content: '';
			background: linear-gradient(90deg, rgba(15, 15, 15, 1) 0%, rgba(15, 15, 15, 0) 100%);

			@media(--phone) {
				background: linear-gradient(90deg, rgba(15, 15, 15, 1) 0%, rgba(15, 15, 15, 1) 10%, rgba(15, 15, 15, 0) 100%);
			}

			@media(--desktop) {
				left: calc(50% - 800px);
				width: 100%;
				background: linear-gradient(90deg, rgba(15, 15, 15, 1) 0%, rgba(15, 15, 15, 0) 100%);
			}
		}
	}

	&.has-image {
		padding: 32px 0 0 0;
		background-color: transparent;
		background-image: url('../images/horizontal-rule.svg');
		background-repeat: repeat-x;
		background-position: center top;
		background-size: auto 56px;

		&>div {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			grid-gap: 32px;
			align-items: center;
			padding: var(--xLarge) 0 var(--Large) 0;

			@media(--laptop) {
				grid-template-columns: repeat(2, 1fr);
				grid-gap: 96px;
			}
		}

		& figure {
			position: relative;
			width: 100%;
			height: auto;
			margin: 0;

			& img {
				width: 100%;
				height: auto;
				object-fit: cover;
				object-position: center;
			}
		}
	}
}

/*-----------------------------------*\
	ARCHIVE HEADER
\*-----------------------------------*/
header.archive-head {
	&>div {
		padding: var(--xLarge) 0 120px 0;

		& h1,
		& p:not(.preheadline) {
			max-width: 960px;
		}
	}
}