/*-----------------------------------*\
	NEWSLETTER
\*-----------------------------------*/
section.newsletter {
	margin: 140px 0 0;
	padding: 48px 0;
	position: relative;

	&.has-gradient {
		&.y-to-o {
			background: var(--GradientYO);
		}

		&.r-to-p {
			background: var(--GradientRP);
		}

		&.p-to-b {
			background: var(--GradientPB);
		}

		&.b-to-r {
			background: var(--GradientBR);
		}

		& .subheadline {
			color: var(--White);
			font-weight: 700;
		}
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		transform: translateY(-100%);
		width: 100%;
		height: 32px;
		border: 0;
		background-color: transparent;
		background-image: url('../images/horizontal-rule.svg');
		background-repeat: repeat-x;
		background-position: center;
		background-size: contain;
	}

	&>div {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: var(--Large);

		&>div {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		& h2 {
			font-size: 48px;
			margin: 0 0 var(--Small) 0;
			line-height: 1;
		}

		@media(--tablet) {
			grid-template-columns: repeat(2, 1fr);

			& h2 {
				text-align: right;
				font-size: 64px;
				margin: 0;
			}
		}

		& .gform_wrapper {
			margin: 0;
			width: 100%;
		}

		& form {
			display: flex;
			margin-top: var(--Medium);

			& .gform_body {
				width: 100%;
			}

			& li {
				position: relative;
				width: 100%;
				margin: 0;

				& label {
					position: absolute;
					top: -10px;
					transform: translateY(-100%);
					color: var(--White);
				}
			}

			& button {
				margin: 0 0 0 var(--Small);
				color: var(--Black);
				background-color: var(--Yellow);
				height: 100%;

				& svg {
					fill: var(--Black);
				}

				&:hover,
				&:focus {
					background-color: var(--YellowDark);
				}

			}
		}
	}
}

/*-----------------------------------*\
	POST FOOTER
\*-----------------------------------*/
footer.post-footer {
	background-color: var(--Black);
	padding: var(--Medium) 0;

	& .contact {
		& img.logo {
			width: 200px;
			display: block;
			margin: 0 auto;

			@media(--tablet) {
				margin: 0;
			}
		}

		&>a {
			color: var(--White);
			text-decoration: none;
			margin: var(--Medium) auto 12px auto;
			display: table;

			&:hover,
			&:focus {
				text-decoration: underline;
			}

			@media(--tablet) {
				margin: var(--Medium) 0 12px 0;
			}
		}

		& p {
			margin: 12px 0;
			line-height: 1.4;
			text-align: center;

			@media(--tablet) {
				text-align: left;
			}
		}

		& ul {
			margin: var(--Inbetween) 0 0 0;
			padding: 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			@media(--tablet) {
				justify-content: flex-start;
			}

			& li {
				margin: 0;

				&::before {
					display: none;
				}

				& img {
					width: 24px;
					height: 24px;
					display: block;
				}

				&+li {
					margin-left: var(--Medium);
				}
			}
		}
	}

	& .nav {
		width: 80%;
		margin: var(--Large) auto var(--xLarge) auto;

		@media(--tablet) {
			width: 100%;
			margin: 0;
		}

		& ul {
			margin: 0;
			padding: 0;
			column-count: 2;
			column-fill: balance;
			column-gap: 24px;

			@media(--phone) {
				column-count: 3;
			}

			@media(--tablet) {
				column-count: 5;
				column-gap: var(--Small);
			}

			& li {
				margin: 0;

				&::before {
					display: none;
				}

				& a {
					color: var(--White);
					text-decoration: none;
					white-space: nowrap;
					line-height: 2;
					display: table;

					&:hover,
					&:focus {
						text-decoration: underline;
					}
				}

				&.has-shop-icon a::before {
					content: '';
					display: inline-block;
					background-image: url('../images/icon-basket-white.svg');
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
					border-radius: 0;
					border: 0;
					margin-right: var(--Small);
					width: 20px;
					height: 20px;
					position: relative;
					top: 3px;
				}
			}
		}
	}

	& .legal {
		& ul {
			margin: 0;
			padding: 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;

			@media(--tablet) {
				justify-content: flex-start;
			}

			& li {
				padding: 0 12px;
				margin: 0 0 var(--Medium) 0;

				@media(--tablet) {
					margin: 0;
				}

				&:first-child {
					padding-left: 0;
				}

				&::before {
					display: none;
				}

				& a {
					color: var(--White);
					text-decoration: none;
					white-space: nowrap;
					line-height: 1;
					font-size: 16px;

					&:hover,
					&:focus {
						text-decoration: underline;
					}
				}

				&+li {
					border-left: 1px solid var(--White);
				}
			}
		}
	}

	& .copyright {
		text-align: center;
		font-size: 14px;
	}
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
footer.post-footer>div {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 98%;
	max-width: 1400px;
	margin: 0 auto;

	@media(--tablet) {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: auto auto auto;
	}

	@media(--desktop) {
		grid-template-columns: repeat(6, 1fr);
	}

	& .contact {
		grid-column: span 2;

		@media(--tablet) {
			grid-column: span 1;
			grid-row: span 2;
		}

		@media(--desktop) {
			grid-column: span 2;
		}
	}

	& .nav {
		grid-column: span 2;

		@media(--tablet) {
			grid-column: span 3;
			grid-row: span 1;
		}

		@media(--desktop) {
			grid-column: span 4;
		}
	}

	& .legal {
		grid-column: span 2;

		@media(--tablet) {
			grid-column: span 3;
			grid-row: span 1;
		}

		@media(--desktop) {
			grid-column: span 4;
		}
	}

	& .copyright {
		grid-column: 1 / -1;
	}
}