/*-----------------------------------*\
	ARTIST SLIDER
\*-----------------------------------*/
section.artist-slider {
	& .slick-slide {
		padding: 0 var(--Medium);

		&>div {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	& .slick-dots {
		margin: 0;
		padding: 0;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
		grid-gap: 8px;
		max-width: 1024px;
		width: 90%;
		margin: var(--xLarge) auto var(--Large) auto;

		& li {
			margin: 0;

			&::before {
				display: none;
			}

			& button {
				padding: 0;
				text-indent: -999999px;
				overflow: hidden;
				width: 100%;
				height: 6px;
				background-color: var(--GreyDark);
			}

			&.slick-active button {
				background-color: var(--Yellow);
			}
		}
	}
}