/*-----------------------------------*\
	CARDS
\*-----------------------------------*/
section.card-grid {
	margin: var(--xLarge) auto;
	max-width: 1400px;
	width: 90%;
	align-items: flex-start;

	& .card {
		position: relative;
		padding: var(--Medium);
		width: 100%;
		grid-row: span 4;
		transition: all 0.5s ease-in-out;

		&[data-emergence=hidden] {
			opacity: 0;
			top: 96px;
			transform: scale(.8);
		}

		&[data-emergence=visible] {
			opacity: 1;
			top: 0;
			transform: scale(1);
		}

		@media(--tablet) {
			direction: ltr;

			&:first-child {
				grid-column: 2;
			}
		}

		&>*:first-child {
			margin-top: 0;
		}

		&>*:last-child {
			margin-bottom: 0;
		}

		& figure {
			margin: 0;

			& img {
				display: block;
				width: 100%;
				object-fit: cover;
				object-position: center;
			}
		}

		& h3 {
			margin: var(--Inbetween) 0 var(--Medium) 0;
		}

		& hr {
			background-image: none;
			height: 2px;
			margin: var(--Medium) 0;

			&.is-hidden {
				display: none;
			}
		}

		& p.subheadline {
			color: var(--Yellow);
			font-size: 20px;
			font-weight: 600;
		}

		& p {
			margin: 8px 0;
		}

		& .buttons {
			margin-top: var(--Large);
		}
	}
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
section.card-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-gap: 64px;

	@media(--tablet) {
		grid-template-columns: repeat(2, 1fr);
		direction: rtl;
		grid-gap: 96px;
	}
}