/*-----------------------------------*\
	COVER
\*-----------------------------------*/
.cover {
	display: flex;
	position: relative;
	justify-content: center;
	min-height: 40vh;
	margin: 120px auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	& .content {
		width: 100%;
		background-color: var(--Black);
		padding: var(--Large);

		&.y-to-o {
			background: var(--GradientYO);
		}

		&.r-to-p {
			background: var(--GradientRP);
		}

		&.p-to-b {
			background: var(--GradientPB);
		}

		&.b-to-r {
			background: var(--GradientBR);
		}

		&>*:first-child {
			margin-top: 0;
		}

		&>hr:first-child {
			margin: 0 0 20px 0;
			background-position: center left;

			&+h2,
			&+h3,
			&+h4,
			&+h5,
			&+h6 {
				margin: 0;

				&+p {
					margin-top: var(--Small);
				}

				&+a.button {
					margin-top: var(--Large);
				}
			}
		}

		& a.button {
			display: table;
			margin: 12px 0 0 0;
		}
	}

	& .image {
		width: 100%;
		height: 100%;
		min-height: 50vh;
		position: relative;

		& img {
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			margin: 0;
			object-fit: cover;
			object-position: center;
		}
	}
}

/*-----------------------------------*\
	IMAGE ALIGNMENT
\*-----------------------------------*/
.cover {
	@media(--tablet) {
		&.has-image-on-right {
			&>div:first-child {
				order: 2;
			}

			&>div:last-child {
				order: 1;
			}
		}
	}
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
.cover {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 0;

	@media(--tablet) {
		grid-template-columns: minmax(500px, 1fr) 2.5fr;

		&.has-image-on-right {
			grid-template-columns: 2.5fr minmax(500px, 1fr);
		}
	}
}