/*-----------------------------------*\
	SSTILL GOING ON
\*-----------------------------------*/
.exhibit-still-going-on-mobile {
	display: block;

	@media(--phone) {
		display: none;
	}
}

.exhibit-still-going-on {
	display: none;

	@media(--phone) {
		display: block;
	}

	& .outdoor-exhibit {
		position: relative;
		width: 100%;
		padding-top: 64%;
		background-image: url('../images/exhibit/still-going-on-01.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}

	& button {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		background: var(--Yellow);
		margin: 0;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		padding: 0;
		opacity: .75;

		&::before {
			display: block;
			content: "";
			position: absolute;
			width: 40px;
			height: 40px;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			border-radius: 50%;
			border: solid 2px var(--Yellow);
			animation: ripple 2s ease-out infinite;
		}

		&::after {
			display: block;
			content: "";
			position: absolute;
			width: 40px;
			height: 40px;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			border-radius: 50%;
			border: solid 2px var(--Yellow);
			animation: ripple 2s 1s ease-out infinite;
		}

		&.marker-1 {
			top: calc(15% - 20px);
			left: calc(14.2% - 20px);
		}

		&.marker-2 {
			top: calc(19.5% - 20px);
			left: calc(18.8% - 20px);
		}

		&.marker-3 {
			top: calc(27.5% - 20px);
			left: calc(27.5% - 20px);
		}

		&.marker-4 {
			top: calc(34.5% - 20px);
			left: calc(35.3% - 20px);
		}

		&.marker-5 {
			top: calc(59.4% - 20px);
			left: calc(62.6% - 20px);
		}

		&.marker-6 {
			top: calc(69.2% - 20px);
			left: calc(73.6% - 20px);
		}

		&.marker-7 {
			top: calc(78.2% - 20px);
			left: calc(83.5% - 20px);
		}

		&.marker-8 {
			top: calc(83.3% - 20px);
			left: calc(89.4% - 20px);
		}
	}
}