section.featured-posts {
	margin: 96px auto;

	& .post-grid {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 96px;

		@media(--tablet) {
			grid-template-columns: repeat(2, 1fr);
		}

		& .post-card {
			& p.subheadline+p {
				font-size: 16px;
			}
		}
	}
}