/*-----------------------------------*\
	LAZYLOAD IMAGES
\*-----------------------------------*/
/* .blur-up {
	filter: blur(8px);
	transition: all 0.35s linear;
}

.blur-up.lazyloaded {
	filter: blur(0);
	-webkit-filter: blur(0);
} */

/*-----------------------------------*\
	GRID GALLERY
\*-----------------------------------*/
.gallery.is-grid {
	width: calc(100% - 32px);

	&.is-full-width {
		max-width: 1500px;
	}

	& figure {
		margin: 0;
		position: relative;

		@media(--tablet) {
			&.double {
				grid-column: 1 / span 2;
			}
		}

		& img {
			display: block;
			object-fit: cover;
			object-position: center;
			width: 100%;
			height: auto;
		}
	}
}

/*-----------------------------------*\
	GRID GALLERY COLUMNS
\*-----------------------------------*/
.gallery.is-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 16px;
	margin: var(--xLarge) auto;

	@media(--tablet) {
		grid-template-columns: repeat(2, 1fr);
	}
}

/*-----------------------------------*\
	SLIDER GALLERY
\*-----------------------------------*/
.gallery.is-slider,
.gallery.is-variable-slider {
	& .slick-slide {
		transition: all 0.35s linear;
		opacity: 1;

		&:not(.slick-active.slick-center) {
			opacity: .4;
		}
	}

	& figure {
		margin: 0;
		padding: 0 var(--Small);

		& img {
			margin: 0;
			height: 50vh;
			display: block;
		}
	}

	& .slick-dots {
		margin: 0;
		padding: 0;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
		grid-gap: 8px;
		max-width: 1024px;
		width: 90%;
		margin: var(--Medium) auto;

		& li {
			margin: 0;

			&::before {
				display: none;
			}

			& button {
				padding: 0;
				text-indent: -999999px;
				overflow: hidden;
				width: 100%;
				height: 6px;
				background-color: var(--GreyDark);
			}

			&.slick-active button {
				background-color: var(--Yellow);
			}
		}
	}
}

.gallery.is-slider {
	& figure {
		margin: 0;
		width: 100%;
		height: auto;

		& img {
			width: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
}