/*-----------------------------------*\
	LINK LIST
\*-----------------------------------*/
section.link-list {
	& .links {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: var(--Small) var(--Inbetween);

		& a {
			display: inline-block;
			margin: 0;
			padding: 0;
			color: var(--Yellow);
			text-decoration: none;

			& img {
				margin: 0 var(--Small) 0 0;
			}

			&:hover,
			&:focus {
				background: transparent;
				text-decoration: underline;
			}
		}
	}
}