/*-----------------------------------*\
	IMAGE + MEDIA
\*-----------------------------------*/
.media-text {
  margin: var(--xLarge) auto;

  &.image-cover {
    align-items: normal;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  & > div {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    & > *:first-child {
      margin-top: 0;
    }

    & img {
      display: block;
      width: 100%;
      max-width: 100%;
      height: auto;
      margin: 0 auto;
    }
  }
}

/*-----------------------------------*\
	IMAGE ALIGNMENT
\*-----------------------------------*/
.media-text {
  @media(--tablet) {
    &.has-image-on-right {
      & > div:first-child {
        order: 2;
      }

      & > div:last-child {
        order: 1;
      }
    }
  }
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
.media-text {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 56px;
  align-items: center;

  @media(--tablet) {
    grid-template-columns: repeat(2, 1fr);
  }
}
