/*-----------------------------------*\
	RESPONSIVE VIDEO EMBED
\*-----------------------------------*/
section.responsive-video {
	&>div {
		position: relative;
		padding-bottom: 56.25%;
		height: 0;
		transition: all 0.5s ease-in-out;

		&[data-emergence=hidden] {
			opacity: 0;
			top: 96px;
			transform: scale(.8);
		}

		&[data-emergence=visible] {
			opacity: 1;
			top: 0;
			transform: scale(1);
		}

		& iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}