/*-----------------------------------*\
	VARIABLES
\*-----------------------------------*/
/*-----------------------------------*\
	xSmall: 4px
	Small: 8px
	Medium: 16px
	Inbetween: 24px 
	Large: 32px
	xLarge: 64px
\*-----------------------------------*/
:root {
	--xSmall: 0.25rem;
	--Small: 0.5rem;
	--Medium: 1rem;
	--Inbetween: 1.5rem;
	--Large: 2rem;
	--xLarge: 4rem;
	--White: #f7f5fb;
	--GreyLight: #e6e6e6;
	--Grey: #a5a1a1;
	--GreyDark: #726e6e;
	--Black: #1d1e2d;
	--Blue: #2237de;
	--BlueDark: #1b2bb1;
	--Yellow: #f2ba38;
	--YellowDark: #ce940d;
	--Red: #f5050c;
	--RedDark: #c3040a;
	--Purple: #bd1fdd;
	--PurpleDark: #9518ae;
	--Green: #52dc1b;
	--GradientYO: radial-gradient(ellipse at left top, #f2ba38 0%, #f5050c 100%);
	--GradientRP: radial-gradient(ellipse at left top, #f5050c 0%, #bd1fdd 100%);
	--GradientPB: radial-gradient(ellipse at left top, #bd1fdd 0%, #2237de 100%);
	--GradientBR: radial-gradient(ellipse at left top, #2237de 0%, #f5050c 100%);
}