/*----------------------------------------------------------------*\
	ARCHIVES TEMPLATES
\*----------------------------------------------------------------*/
/*-----------------------------------*\
	PAGINATION
\*-----------------------------------*/
nav.pagination {
	margin: var(--xLarge) auto var(--Medium) auto;
	text-align: center;

	& span {
		margin: 0 var(--xSmall);
		padding: var(--Small) var(--Medium);
		border: none;
		color: var(--Black);
		font-weight: 800;
		font-size: 16px;
		font-family: 'Montserrat', sans-serif;
		text-decoration: none;
		text-transform: uppercase;
		cursor: pointer;
		background-color: var(--White);
		transition: all 0.35s linear;
	}

	& a {
		margin: 0 var(--xSmall);
		padding: var(--Small) var(--Medium);
		border: none;
		color: var(--Black);
		font-weight: 800;
		font-size: 16px;
		font-family: 'Montserrat', sans-serif;
		text-decoration: none;
		text-transform: uppercase;
		cursor: pointer;
		background-color: var(--Grey);
		transition: all 0.35s linear;

		&:hover,
		&:focus {
			background-color: var(--White);
		}
	}
}

/*-----------------------------------*\
	SEARCH RESULTS
\*-----------------------------------*/
body.search-results {
	& header.post-head {
		& .search-grid {
			margin: 48px 0 0 0;
			width: 100%;
			max-width: 400px;

			& form {
				display: flex;

				&>div {
					position: relative;
					width: 100%;

					& label {
						position: absolute;
						top: -10px;
						transform: translateY(-100%);
						color: var(--White);
						padding: 0;
					}

					& input {
						padding: var(--Small) var(--xSmall);
					}
				}

				& button {
					font-size: 14px;
					margin: 0 0 0 var(--Small);
				}
			}
		}
	}

	& main>article>a {
		text-decoration: none;
		color: inherit;
	}

	& .search-result {
		z-index: 2;
		position: relative;
		margin: 0 auto var(--xLarge) auto;
		padding: var(--Medium) var(--Medium) var(--Large) var(--Medium);
		background: #2b2b2b;

		&>*:first-child {
			margin-top: 0;
		}

		&>*:last-child {
			margin-bottom: 0;
		}

		& h2 {
			line-height: 1;
			width: 100%;
			margin: 0 0 var(--Small) 0;
			font-size: 28px;
			line-height: 1;

			@media(--tablet) {
				font-size: 36px;
			}
		}

		& p:not(.preheadline) {
			width: 100%;
		}

		& .preheadline {
			display: inline-block;
			padding: var(--xSmall) var(--Small);
			font-weight: 600;
			font-size: 16px;

			&.is-yellow {
				color: var(--Black);
				background-color: var(--Yellow);
			}

			&.is-blue {
				color: var(--White);
				background-color: var(--Blue);
			}

			&.is-purple {
				color: var(--White);
				background-color: var(--Purple);
			}

			&.is-red {
				color: var(--White);
				background-color: var(--Red);
			}

			&.is-green {
				color: var(--Black);
				background-color: var(--Green);
			}

			&.is-transparent {
				margin-bottom: 0;
				padding: var(--xSmall) var(--Small) var(--xSmall) 0;
				color: var(--White);
				font-weight: 400;
				font-size: 24px;
				background-color: transparent;
			}
		}

		& .subheadline {
			margin: 0;
			color: var(--Yellow);
			font-size: 24px;
		}
	}

}

/*-----------------------------------*\
	BLOG
\*-----------------------------------*/
body.archive,
body.blog {
	& .blog-head {
		& ul.categories {
			padding: 0;
			margin: 0;
			list-style: none;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-items: center;

			& li {
				margin: 0;

				&:before {
					display: none;
				}

				&+li {
					margin-left: var(--Small);
				}

				& a {
					display: table;
					margin: 0;
					padding: var(--Small) var(--Medium);
					border: 1px solid var(--White);
					color: var(--White);
					text-decoration: none;
					cursor: pointer;
					background-color: transparent;
					transition: all 0.35s linear;

					&:hover,
					&:focus {
						border-color: var(--Grey);
						background-color: var(--Grey);
					}
				}

				&.current-cat a {
					border-color: var(--Blue);
					background-color: var(--Blue);
				}
			}
		}
	}
}

body.blog .blog-head ul.categories li.cat-item-all a {
	border-color: var(--Blue);
	background-color: var(--Blue);
}

body.archive,
body.blog {
	& section.post-grid {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 96px;

		@media(--tablet) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

.post-card {
	padding-top: 0;

	& figure {
		width: 100%;
		position: relative;
		margin: 0;
		height: 200px;

		@media(--phone) {
			height: 250px;
		}


		@media(--tablet) {
			height: 200px;
		}

		@media(--laptop) {
			height: 250px;
		}

		@media(--desktop) {
			height: 350px;
		}

		& img {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}

		& .label {
			position: absolute;
			z-index: 2;
			left: 0;
			bottom: var(--Medium);
			padding: 4px var(--Small) var(--xSmall) var(--Small);

			&.is-black {
				background-color: var(--Black);
				color: var(--White);
			}
		}
	}

	& h3,
	& h4 {
		margin: var(--Medium) 0;
	}

	& hr {
		width: 100%;
	}

	& .subheadline {
		font-weight: 400;
		font-size: 24px;
		margin: 0;
	}

}

/*-----------------------------------*\
	PROGRAMS
\*-----------------------------------*/
body.archive {
	& section.card-grid {
		margin-top: -160px;

		& .program-card {
			position: relative;
			transition: all 0.5s ease-in-out;

			&[data-emergence=hidden] {
				opacity: 0;
				top: 96px;
				transform: scale(.8);
			}

			&[data-emergence=visible] {
				opacity: 1;
				top: 0;
				transform: scale(1);
			}
		}
	}
}

/*-----------------------------------*\
	EVENTS
\*-----------------------------------*/
body.archive {
	& section.card-grid {
		margin-top: -160px;

		& .event-card {
			transition: all 0.5s ease-in-out;

			&[data-emergence=hidden] {
				opacity: 0;
				top: 96px;
				transform: scale(.8);
			}

			&[data-emergence=visible] {
				opacity: 1;
				top: 0;
				transform: scale(1);
			}

			& .label {
				top: 150px;

				@media(--phone) {
					top: 200px;
				}


				@media(--tablet) {
					top: 150px;
				}

				@media(--laptop) {
					top: 200px;
				}

				@media(--desktop) {
					top: 300px;
				}
			}

			& p {
				margin: var(--Medium) 0;

				& br {
					display: none;
				}
			}
		}
	}
}

/* @media(--tablet) {
	body.archive:not(.paged) {
		& section.card-grid {
			& .event-card:first-child {
				grid-column: span 2;
				display: grid;
				grid-template-columns: 1fr;
				background-color: var(--Black);
				padding: 0;
				grid-template-columns: 2fr 3fr;

				& figure {
					order: 2;
					min-height: 400px;
					height: 100%;
					position: relative;

					& img {
						max-height: 100%;
					}
				}

				&>div {
					padding: var(--Large);
					order: 1;

					& .label {
						position: initial;
						margin: 0;
					}

					& h3 {
						margin: var(--Medium) 0 var(--Large) 0;
					}
				}
			}

			& .event-card:nth-child(2) {
				grid-column: 2;
			}
		}
	}
} */

/*-----------------------------------*\
	ARTISTS
\*-----------------------------------*/
body.archive {
	& section.artist-grid {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-gap: 64px;

		@media(--phone) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media(--tablet) {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}