/*-----------------------------------*\
	ARTISTS PREVIEW CARDS
\*-----------------------------------*/
.artist-card {
	& figure {
		margin: 0;

		& img {
			width: 100%;
			display: block;
		}
	}

	& h3 {
		margin: var(--Small) 0;
	}

	& h4 {
		margin: var(--Medium) 0;
	}

	& hr {
		margin: var(--Medium) 0 var(--Small) 0;
	}

	&:not(.alumni) p {
		font-weight: 400;
		margin: 0 0 var(--Small) 0;
	}

	&.alumni {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-start;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		position: relative;
		min-height: 400px;
		padding: var(--Medium);

		&.y-to-o {
			background: var(--GradientYO);
		}

		&.r-to-p {
			background: var(--GradientRP);
		}

		&.p-to-b {
			background: var(--GradientPB);
		}

		&.b-to-r {
			background: var(--GradientBR);
		}

		& p {
			margin: 0;
			width: 80%;
			line-height: 1.3;
		}

		& h3 {
			font-size: 32px;
			line-height: 1;

			@media(--tablet) {
				font-size: 44px;
			}
		}
	}
}

/*-----------------------------------*\
	ARTISTS
\*-----------------------------------*/
body.single-artist {
	& .post-head {
		& .artists {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			grid-gap: var(--Inbetween);
			margin-top: var(--Large);

			@media(--phone) {
				grid-template-columns: repeat(2, 1fr);
			}

			& .artist {
				display: flex;
				justify-content: flex-start;
				align-items: center;

				& img {
					border-radius: 50%;
					width: 64px;
					height: 64px;
					object-fit: cover;
					object-position: center;
					flex-shrink: 0;

					&+p {
						margin: 0 0 0 var(--Small);
						color: var(--White);
						font-size: 24px;
					}
				}
			}
		}
	}
}