/*-----------------------------------*\
	EVENT PREVIEW CARDS
\*-----------------------------------*/
.event-card {
	padding-top: 0;

	& figure {
		width: 100%;
		position: relative;
		margin: 0;

		& img {
			width: 100%;
			height: auto;
			object-fit: cover;
			object-position: center;
		}
	}

	& .label {
		display: inline-block;
		margin-bottom: var(--Small);
		padding: 4px var(--Small) var(--xSmall) var(--Small);
		background-color: var(--Purple);
		position: absolute;
		top: 170px;
	}

	& h3,
	& h4 {
		margin: var(--Medium) 0;
	}

	& .subheader {
		font-weight: 400;
		font-size: 20px;
		margin: 0 0 var(--xSmall) 0;
		color: var(--Yellow);

		&+p {
			margin-top: 0;
		}
	}

	& p {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin: 0 0 12px 0;
		line-height: 1.2;
		font-size: 20px;

		& svg {
			height: 20px;
			width: 20px;
			fill: var(--White);
			margin-right: 12px;
			transition: all .35s linear;
		}
	}
}

/*-----------------------------------*\
	EVENT HEADER
\*-----------------------------------*/
body.single-event {
	& .post-head {
		& .label {
			display: inline-block;
			padding: 4px var(--Small) var(--xSmall) var(--Small);
			font-size: 16px;
			margin-bottom: var(--Medium);

			&.is-purple {
				background-color: var(--Purple);
				color: var(--White);
			}
		}

		& h1+p {
			margin-top: var(--Inbetween);
		}

		& p {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			margin: 0 0 12px 0;
			line-height: 1.2;
			font-size: 20px;

			& br {
				display: none;
			}

			& svg {
				height: 20px;
				width: 20px;
				fill: var(--White);
				margin-right: 12px;
				transition: all .35s linear;
			}
		}

		& .buttons {
			margin-top: var(--Inbetween);
		}
	}
}