/*----------------------------------------------------------------*\
	FRONT PAGE TEMPLATE
\*----------------------------------------------------------------*/

.front-page-slider {
	position: relative;
	height: calc(100vh - 100px);

	& .slick-track {
		display: flex !important;
	}

	& .slick-slide {
		height: inherit !important;

		&>div {
			height: 100%;
		}
	}

	& .slides {
		height: 100%;
	}

	& .home-slide {
		position: relative;
		background-size: cover;
		background-position: center;
		height: 100%;
		min-height: calc(100vh - 100px);

		&::after {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			content: '';
			background: linear-gradient(90deg, rgba(15, 15, 15, 1) 0%, rgba(15, 15, 15, 0) 100%);
			z-index: 2;

			@media(--phone) {
				background: linear-gradient(90deg, rgba(15, 15, 15, 1) 0%, rgba(15, 15, 15, 1) 10%, rgba(15, 15, 15, 0) 100%);
			}

			@media(--desktop) {
				width: 100%;
				background: linear-gradient(90deg, rgba(15, 15, 15, 1) 0%, rgba(15, 15, 15, 0) 100%);
			}
		}

		& .contents {
			position: relative;
			z-index: 5;
			width: 90%;
			max-width: 700px;
			left: 5%;
			padding: 64px 0;

			& .preheadline {
				display: inline-block;
				padding: var(--xSmall) var(--Small);
				font-weight: 600;
				font-size: 18px;
				margin: 0;

				&.is-yellow {
					color: var(--Black);
					background-color: var(--Yellow);
					margin: 0 0 var(--Small) 0;
				}

				&.is-blue {
					color: var(--White);
					background-color: var(--Blue);
					margin: 0 0 var(--Small) 0;
				}

				&.is-purple {
					color: var(--White);
					background-color: var(--Purple);
					margin: 0 0 var(--Small) 0;
				}

				&.is-red {
					color: var(--White);
					background-color: var(--Red);
					margin: 0 0 var(--Small) 0;
				}

				&.is-green {
					color: var(--Black);
					background-color: var(--Green);
					margin: 0 0 var(--Small) 0;
				}

				&.is-transparent {
					padding: var(--xSmall) var(--Small) var(--xSmall) 0;
					color: var(--White);
					background-color: transparent;
					font-weight: 400;
					font-size: 28px;
				}
			}

			& h1 {
				margin: 0;

				@media(--tablet) {
					font-size: 64px;
				}

				@media(--XLdesktop) {
					font-size: 80px;
				}
			}

			& .subheadline {
				margin: var(--Small) 0 0 0;
				color: var(--Yellow);
				font-size: 24px;
			}

			& p {
				margin: var(--Small) 0 0 0;

				&:not(.subheadline):not(.preheadline) {
					display: none;

					@media(--phone) {
						display: block;
					}
				}
			}
		}

		& .videoWrapper {
			position: absolute;
			padding-bottom: 56.25%;
			padding-top: 30px;
			height: 0;
			overflow: hidden;
			width: 100%;
			top: 50%;
			left: 0;
			transform: translateY(-50%);

			& iframe {
				height: 100%;
				width: 100%;
				position: absolute;
				top: 0;
				bottom: 0;
			}
		}

		&.has-background-video>img {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	& .nav-slides {
		position: absolute;
		bottom: 0;
		width: 90%;
		max-width: 1400px;
		left: 5%;

		& .slick-track {
			margin: 0;
		}

		& .slick-slide>div {
			margin: 0 var(--xSmall);
		}

		& .nav-slide {
			padding: var(--xSmall) var(--Small) var(--Small) var(--Small);
			position: relative;
			height: 100%;
			cursor: pointer;
			background: var(--White);
			padding: 0;
			height: 10px;
			margin-bottom: var(--Medium);

			@media(--phone) {
				padding: var(--xSmall) var(--Small) var(--Small) var(--Small);
				height: 100%;
				margin: 0;
				border-top: 3px solid transparent;
				background: #141414;
			}

			&::after {
				display: block;
				content: '';
				position: absolute;
				top: -3px;
				right: 0;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(180deg, rgba(230, 230, 230, 0.2) 0%, rgba(230, 230, 230, 0) 25%);
				display: none;

				@media(--phone) {
					display: block;
				}
			}

			& p.label {
				margin: 0 0 var(--xSmall) 0;
				font-size: 16px;
				display: none;

				@media(--phone) {
					display: block;
				}
			}

			& p.contents {
				margin: 0;
				font-size: 16px;
				line-height: 1.2;
				font-family: 'Montserrat', sans-serif;
				text-transform: uppercase;
				display: none;

				@media(--laptop) {
					display: block;
				}
			}
		}

		& .slick-current .nav-slide {
			background-color: var(--Blue);

			@media(--phone) {
				border-color: var(--Blue);
				background: #141414;
			}

		}
	}
}

/*----------------------------------------------------------------*\
	ENTRANCE ANIMATION
\*----------------------------------------------------------------*/
.front-page-slider .slides .slick-slide {
	& .contents {
		position: relative;
		transition: all 0.5s ease-in-out 0.66s;
		opacity: 0;
		left: calc(5% - 96px);
	}

	&.slick-current .contents {
		opacity: 1;
		left: 5%;
	}
}