/*-----------------------------------*\
	PROGRAM PREVIEW CARDS
\*-----------------------------------*/
.program-card {
	padding-top: 0;

	& figure {
		width: 100%;
		position: relative;
		margin: 0;

		& img {
			width: 100%;
			height: auto;
			object-fit: cover;
			object-position: center;
		}

		&+h3,
		&+h4 {
			margin: var(--Inbetween) 0 var(--Medium) 0 !important;
		}
	}

	& .label {
		display: inline-block;
		margin: var(--Medium) 0 0 0;
		font-size: 18px;
		font-weight: 500;
		padding: 0px 8px 2px 8px;
		text-transform: capitalize;

		&.is-red {
			background-color: var(--Red);
			color: var(--White);
			font-weight: 400;
		}

		&.is-yellow {
			background-color: var(--Yellow);
			color: var(--Black);
		}

		&.is-green {
			background-color: var(--Green);
			color: var(--Black);
		}
	}

	& h3,
	& h4 {
		margin: var(--Small) 0 var(--Medium) 0 !important;
	}

	& hr {
		width: 100%;
	}

	& .subheadline {
		font-weight: 600;
		font-size: 22px;
		margin: 0 0 var(--xSmall) 0;
		color: var(--White) !important;

		&+p {
			margin-top: 0;
			font-size: 20px;
		}
	}

}

/*-----------------------------------*\
	PROGRAM HEADER
\*-----------------------------------*/
body.single-program {
	& .post-head {
		& .label {
			display: inline-block;
			padding: 4px var(--Small) var(--xSmall) var(--Small);
			font-size: 16px;
			margin-bottom: var(--Medium);
			text-transform: capitalize;

			&.is-red {
				background-color: var(--Red);
				color: var(--White);
			}

			&.is-yellow {
				background-color: var(--Yellow);
				color: var(--Black);
				font-weight: 600;
			}

			&.is-green {
				background-color: var(--Green);
				color: var(--Black);
				font-weight: 600;
			}
		}

		& p.subheadline {
			font-size: 20px;
			margin: var(--Medium) 0 0 0;
		}

		& .buttons {
			margin-top: var(--Inbetween);
		}
	}

	& section.stats {
		margin: 0;
		background-color: var(--Black);
		border-top: 4px solid transparent;
		padding: var(--Large) 0;

		&.is-blue {
			border-color: var(--Blue);
		}

		&.is-purple {
			border-color: var(--Purple);
		}

		&.is-yellow {
			border-color: var(--Yellow);
		}

		&.is-red {
			border-color: var(--Red);
		}

		& .stat-grid {
			display: grid;
			grid-template-columns: repeat(1, 1fr);
			grid-gap: var(--Large);

			@media(--phone) {
				grid-template-columns: repeat(2, 1fr);
			}

			@media(--tablet) {
				grid-template-columns: repeat(3, 1fr);
			}

			& .stat {
				& p {
					margin: 0;
				}
			}
		}
	}
}