/*----------------------------------------------------------------*\
	SINGLE POST TEMPLATE
\*----------------------------------------------------------------*/
body.single-post {

	& header.post-head:not(.has-image)>div h1,
	& header.post-head:not(.has-image)>div p:not(.preheadline) {
		max-width: 1024px;
	}
}