/*-----------------------------------*\
	COOKIE BAR
\*-----------------------------------*/
.cookie-useage-notification {
	position: fixed;
	right: 0;
	transform: translateX(125%);
	bottom: var(--Inbetween);
	z-index: 99999999;
	height: auto;
	width: calc(100% - 64px);
	max-width: 375px;
	padding: var(--Medium);
	background: var(--GradientPB);
	transition: all 0.35s linear;

	&.note-on {
		right: var(--Large);
		transform: none;
	}

	& p {
		margin: 0;
		font-size: 16px;

		@media(--phone) {
			font-size: 18px;
		}
	}

	& a:not(.button) {
		color: inherit;
		font-weight: 700;
		text-decoration: underline;

		&:hover,
		&:focus {
			color: inherit;
		}
	}

	& button {
		position: absolute;
		top: -8px;
		right: 0;
		transform: translateY(-100%);
		padding: 0;
		margin: 0;
		background: transparent;

		& svg {
			width: 24px;
			height: 24px;
			display: block;
			fill: var(--White);
		}
	}
}