/*-----------------------------------*\
	PRIMARY NAVIGATION
\*-----------------------------------*/
.primary-navigation {
	background-color: #141414;
	position: relative;
	margin-bottom: var(--Small);
	position: absolute;
	z-index: 99999999;
	width: 100%;
	top: 0;

	&.is-pre-sticky {
		transform: translateY(-100%);
		position: fixed;
	}

	&.is-sticky {
		transition: all 0.35s linear;

		&.is-scrolling-down {
			transform: translateY(-100%);
		}

		&.is-scrolling-up {
			transform: translateY(0);
		}
	}

	& .logo {
		height: 80px;
		margin: var(--xSmall) 0;
	}

	& nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 auto;
		width: 95vw;

		& ul {
			display: none;
			justify-content: space-between;
			padding: 0;
			align-items: center;
			margin: 0;
			list-style: none;

			@media(--laptop) {
				display: flex;
			}

			& li {
				padding: 0 var(--xSmall);
				margin: 0;

				&::before {
					display: none;
				}

				& button,
				& .button {
					color: var(--White);
					background: transparent;
					margin: 0;

					& svg {
						fill: var(--White);
					}

					&:hover,
					&:focus,
					&.is-active {
						background: var(--White);
						color: var(--Black);

						& svg {
							fill: var(--Black);
						}
					}

					&.is-icon {
						border-bottom: 2px solid transparent;

						& svg {
							fill: var(--White);
							width: 24px;
							height: 24px;
						}

						&:hover,
						&:focus {
							background: transparent;
							color: var(--Black);
							border-color: var(--White);
						}
					}

					&.is-active {
						position: relative;

						&::after {
							background: var(--White);
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							width: 100%;
							height: 100%;
							display: flex;
							justify-content: center;
							align-items: center;
							background-image: url('../images/icon-close.svg');
							background-size: 24px;
							background-position: center;
							background-repeat: no-repeat;
							content: '';
						}
					}
				}
			}
		}

		&>button {
			background-color: transparent;
			padding: 0;
			display: block;

			@media(--laptop) {
				display: none;
			}

			& svg {
				fill: var(--White);
				width: 28px;
				height: 28px;
			}
		}
	}
}

button.toggle-search-mega {
	& svg {
		margin: 0;

		&:last-child {
			display: none;
		}

		&:first-child {
			display: block;
		}
	}

	&.is-active {
		& svg {
			&:last-child {
				display: block;
			}

			&:first-child {
				display: none;
			}
		}
	}
}

body {
	padding-top: 97px;
}

/*-----------------------------------*\
	MEGA MENU CARDS
\*-----------------------------------*/
.mega-menu {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 9999999;
	background-color: rgba(20, 20, 20, .9);

	&>div {
		border-top: 4px solid var(--Blue);
	}

	& p {
		font-size: 18px;
	}

	& .card {

		&>*:first-child {
			margin-top: 0 !important;
		}

		&>*:last-child {
			margin-bottom: 0 !important;
		}
	}

	& .primary-card {
		padding: 0 var(--Medium) var(--Medium) 0;

		& h2,
		& h3,
		& h4 {
			margin: var(--Medium) 0 var(--Small) 0;
		}

		& ul {
			margin: 0;
			padding: 0;

			& li {
				margin: 0;
				line-height: 1.3;

				&::before {
					display: none;
				}
			}
		}

		& p+.button {
			margin: 0;
		}

		& .holidays {
			font-size: 14px;
		}
	}

	& .basic-card {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-start;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		position: relative;
		min-height: 400px;

		&.y-to-o {
			background: var(--GradientYO);
		}

		&.r-to-p {
			background: var(--GradientRP);
		}

		&.p-to-b {
			background: var(--GradientPB);
		}

		&.b-to-r {
			background: var(--GradientBR);
		}

		&.has-gradient {
			padding: var(--Medium);
		}

		& .image {
			width: 100%;
			height: 200px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;

			&+p {
				flex-grow: 1;
			}
		}

		&>* {
			position: relative;
			z-index: 2;
		}

		& .preheader {
			font-weight: 400;
			font-size: 20px;
			margin: 0 0 var(--xSmall) 0;
		}

		& h3 {
			margin-top: 0;
		}

		& p {
			font-size: 16px;

			&+.button {
				margin: 0;
			}
		}
	}

	& .program-card {
		& .label {
			margin: var(--Small) 0 0 0;
		}

		& .subheadline {
			font-size: 20px;

			&+p {
				font-size: 18px;
			}
		}
	}

	&.search-mega {
		& form {
			display: flex;
			padding: 8vh 0;

			&>div {
				position: relative;
				width: 100%;

				& label {
					position: absolute;
					top: -10px;
					transform: translateY(-100%);
					color: var(--White);
				}
			}

			& button {
				margin: 0 0 0 var(--Small);
				font-size: 12px;

				@media(--phone) {
					font-size: 16px;
				}
			}
		}
	}
}

/*-----------------------------------*\
	MEGA MENU COLUMNS
\*-----------------------------------*/
.mega-menu {
	display: grid;
	visibility: hidden;
	overflow-y: auto;
	transition: all .66s ease-in-out;
	height: calc(100vh - 97px);
	opacity: 0;

	@media(--laptop) {
		&.is-active {
			visibility: visible;
			opacity: 1;
		}
	}

	&.search-mega.is-active {
		visibility: visible;
		max-height: 100vh;
		opacity: 1;
	}

	& .mega-menu-grid {
		display: grid;
		grid-template-columns: 350px 1fr 1fr 1fr;
		grid-column: auto;
		grid-gap: var(--Medium);
		max-width: 1400px;
		margin: var(--Large) auto;
		width: calc(100% - 64px);
	}

	& .search-grid {
		max-width: 1400px;
		margin: var(--Large) auto;
		width: calc(100% - 64px);
	}
}

/*-----------------------------------*\
	MOBILE MENU
\*-----------------------------------*/
.mobile-menu {
	display: block;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	height: 100vh;
	width: 80vh;
	max-width: 350px;
	transform: translateX(110%);
	background-color: var(--GreyLight);
	box-shadow: -8px 0 14px 0 rgba(0, 0, 0, 0.8);
	transition: all 0.35s linear;
	z-index: 9999999;
	padding: 52px var(--Medium) var(--Medium) var(--Medium);
	overflow: scroll;

	&.is-active {
		transform: translateX(0px);
	}

	& button.toggle-menu {
		position: absolute;
		top: 0;
		right: var(--Medium);
		padding: 0;
		background-color: transparent;

		& svg {
			width: 32px;
			height: 32px;
		}
	}

	& .menu-mobile-navigation-container>ul {
		padding: 0;
		margin: 0;

		& li {
			display: block;

			&:not(.menu-item-has-children):not(.has-shop-icon) {
				padding-left: var(--Inbetween);

				&::before {
					display: none;
				}
			}

			&.menu-item-has-children::before {
				background-image: url('../images/icon-add.svg');
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				border-radius: 0;
				border: 0;
				width: 24px;
				height: 24px;
				top: 4px;
				margin-right: var(--xSmall);
			}

			&.menu-item-has-children.is-active {
				&>a {
					color: var(--Black);
				}

				&::before {
					background-image: url('../images/icon-delete.svg');
				}
			}

			&.has-shop-icon::before {
				background-image: url('../images/icon-basket.svg');
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				border-radius: 0;
				border: 0;
				width: 20px;
				height: 20px;
				top: 0px;
			}

			&>a {
				color: var(--GreyDark);
				text-decoration: none;
				font-size: 24px;
				font-weight: 500;
			}
		}

		& .sub-menu {
			max-height: 0;
			overflow: hidden;
			padding-left: var(--Inbetween);
			padding: 0;
			margin: 0;

			&.is-active {
				max-height: 100vh;
			}

			& li {
				padding: 0;

				&:first-child {
					margin-top: var(--xSmall);
				}

				& a {
					font-size: 18px;
				}
			}
		}
	}

	& .hours {

		& h4 {
			margin-bottom: var(--Small);
			color: var(--Black);
		}

		& ul {
			margin: 0;
			padding: 0;

			& li {
				margin: 0;
				font-size: 16px;
				color: var(--Black);

				&::before {
					display: none;
				}
			}
		}


		&+.button {
			background-color: var(--Grey);
			margin-top: var(--Medium);
			font-size: 14px;

			&:hover,
			&:focus {
				background-color: var(--GreyDark);
			}
		}
	}
}