/*-----------------------------------*\
	GLOBAL NOTIFICATION
\*-----------------------------------*/
.global-notification {
	background: var(--Purple);
	padding: 8px 0;
	font-size: 16px;
	display: none;
	color: var(--White);
	text-decoration: none;
	z-index: 999;
	position: relative;

	@media(--phone) {
		font-size: 18px;
	}

	&.note-on {
		display: block;
	}

	&>div {
		width: 90%;
		display: flex;
		justify-content: space-between;
		position: relative;
	}

	& a {
		position: absolute;
		top: 0;
		right: 48px;
		bottom: 0;
		left: 0;
	}

	& p {
		margin: 0 var(--Medium) 0 0;
	}

	& button {
		padding: 4px;
		margin: 0;
		background: transparent;
		flex-shrink: 0;

		& svg {
			fill: var(--White);
			margin: 0;
			width: 24px;
			height: 24px;
		}
	}
}